body {
  font-family: "Open Sans", sans-serif;
}

th,
td {
  padding: 12px !important;
}

.item th,
.item td {
  padding: 4px 16px 4px 0px !important;
}

.item tr,
.item td {
  border: none !important;
}

.page-link {
  color: #212529 !important;
  background-color: #ffffff !important;
}

.active .page-link {
  color: #ffffff !important;
  background-color: #212529 !important;
  border-color: #212529 !important;
}
